/* Imports for Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=MonteCarlo&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/* CSS variables for common colours */
:root {
  --color-bg-header-nav: #b7dde3;
  --color-bg-header-brand: #fff9fb;
  --color-bg-section-banner: #f3cabc;
  --color-bg-footer: #7e989c;
  --color-text-red: #985855;

  --font-family-display: 'MonteCarlo', serif;
  --font-family-display-serif: 'Antic Didone', serif;
  --font-family-body-sans-serif: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 727px) {
  .container {
    padding: 0 1rem;
  }

  .product {
    min-width: calc(100% - 2rem);
  }
}
@media only screen and (min-width: 728px) {
  .container {
    width: 42.5rem;
  }
}
@media only screen and (min-width: 952px) {
  .container {
    width: 56.5rem;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    width: 72rem;
  }
}

/* Document-wide CSS */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-family-body-sans-serif);
  font-size: 1.1rem;
  line-height: 1.1rem;
}

/* Layout CSS */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display-serif);
  font-weight: 600;
}

header {
  box-sizing: border-box;
}

header nav {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-bg-header-nav);
}

header nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

header nav ul li a {
  color: var( --color-text-red);
  text-decoration: none;
}

header nav ul li a .material-icons {
  vertical-align: bottom;
}

header #header-brand {
  background-color: var(--color-bg-header-brand);
  height: 8rem;
}

header #header-brand .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

header #header-brand h1 {
  margin: 0 3rem 0 0;
  padding: 1.5rem 0 0.3rem 0;
  font-family: var(--font-family-display);
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 400;
}

header form #header-search {
  display: inline-block;
}

header form #header-search #btnSearch {
  padding-left: 0.5rem;
}

main #section-banner {
  margin: 0;
  padding-bottom: 1.5rem;
  background-color: var(--color-bg-section-banner);
  min-height: 8rem;
}

main #section-banner h2 {
  margin: 0;
  padding-top: 2rem;
  line-height: 2rem;
}

main #section-product-list .product-wrapper {
  display: grid;
}

main #section-suggested h3 {
  color: var( --color-text-red);
}

footer {
  box-sizing: border-box;
  margin-top: auto;
  padding-top: 1.5rem;
  height: 4rem;
  color: #fff;
  background-color: var(--color-bg-footer);
}

.container {
  margin: 0 auto;
}

/* Element Specific CSS */
#product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  width: 14.8rem;
  border: 1px solid var(--color-bg-header-nav);
  border-radius: 0.3rem;
}

.product img {
  max-width: 12rem;
  max-height: 12rem;
  display: block;
  margin: 0 auto;
}

.product button {
  width: 100%;
  height: 2rem;
}