/* Imports for Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Rouge+Script&display=swap');

/* CSS variables for common colours */
:root {
  --color-bg-header-nav: #b7dde3;
  --color-bg-header-brand: #fff9fb;
  --color-bg-section-banner: #f3cabc;
  --color-bg-footer: #7e989c;
  --color-text-red: #985855;

  --font-family-display: 'Rouge Script', serif;
  --font-family-display-serif: 'Antic Didone', serif;
  --font-family-body-sans-serif: 'Open Sans', sans-serif;
}

/* Document-wide CSS */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--font-family-body-sans-serif);
  font-size: 1.1rem;
  line-height: 1.1rem;
}

/* Layout CSS */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display-serif);
  font-weight: 600;
}

header {
  box-sizing: border-box;
}

header nav {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-bg-header-nav);
}

header nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

header nav ul li a {
  color: var( --color-text-red);
  text-decoration: none;
}

header nav ul li a .material-icons {
  vertical-align: bottom;
}

header #header-brand {
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg-header-brand);
  height: 8rem;
}

header form #header-search {
  display: inline-block;
}

header form #header-search #btnSearch {
  padding-left: 0.5rem;
} 

header #header-brand h1 {
  margin: 0;
  padding: 1.5rem 0 0.3rem 0;
  font-family: var(--font-family-display);
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 400;
}

main #section-banner {
  margin: 0;
  background-color: var(--color-bg-section-banner);
  height: 8rem;
}

main #section-banner h2 {
  margin: 0;
  padding-top: 2rem;
}

main #section-product-list .product-wrapper {
  display: grid;
}

main #section-suggested h3 {
  color: var( --color-text-red);
}

footer {
  box-sizing: border-box;
  margin-top: auto;
  padding-top: 1.5rem;
  height: 4rem;
  color: #fff;
  background-color: var(--color-bg-footer);
}

.container {
  margin: 0 auto;
  width: 1000px;
}

/* Element Specific CSS */
.product {
  width: 18rem;
}

.product img {
  width: inherit;
}